body {
    font-size: 14px;
    color: #ffffff;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoratio: none;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left
}

.header {
    padding: 20px 0;
}

.logo {
    margin-top: 20px;
}

.nav {
    padding: 30px 0;
}

.nav > ul > li {
    float: left;
    margin-left: 20px;
    position: relative;
}
.underline{
    width:0px;
    border:1px solid transparent;
  transition:0.5s all;
  max-resolution: 3px 0;
  position: absolute;
}
.nav ul li:hover.underline{
    width: 100%;
}

.nav ul li a {
    color: #fff;
    font-size: 16px;
    padding: 15px 25px;
    display: block;
    text-decoration: none;
    font-weight: 700;
}

a.btn.btn-blue {
    color: #fff;
    background-color: #00a8ff;
    padding: 15px 21px;
}

.sub-menu {
    display: none;
    width: 170px;
    background-color: #00a8ff;
    box-sizing: border-box;
    position: absolute;
    z-index: 4;
    right: 0;s
}

.sub-menu ul li a:hover {
    color: #fff;
    background: #d8514b;
}




.nav ul li:hover .sub-menu {
    display: block;
}

.content-page {
    padding-top: 80px;
}

.main-content {
    background: url("../images/footer.jpg") no-repeat center center;
    width: 100%;
    height: 620px;
    position: relative;
}
.main-content::after{
    content: " ";
    position: absolute;
    bottom: 0;
    width:0;
    height:0;
    border: 10px solid white;
}
.main-content h3.light.white, .main-content h1.white.typed {
    text-align: center;
}

.main-content h3.light.white {
    font-size: 35px;
}

.main-content h1.white.typed {
    font-size: 50px;
}

.featured {
    position: relative;
    min-height: 300px;
}

.featured-wrapper {
    position: relative;
    top: -70px;
    width: 100%;
    clear: both;
    overflow: hidden;
    display: block;
}

.intro-img-wrapper {
    position: relative;
}

.intro-tabel-first {
    background: url("../images/table-1.jpg") no-repeat 0 0;
    height: 286px;
    width: 100%;
}

.featured .schedule-box {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.featured .schedule-row.row {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 15px 48px 10px;
}

.featured .schedule-row.row h5 {
    font-size: 20px;
}

.featured .intro-hover-img {
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.5s;
}

.featured .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 25px;

}

.featured .overlay h4 {
    opacity: 1;
    transition: all 0.5s;
    margin-top: 40px;
}

.featured .overlay h3 {
    position: absolute;
    bottom: 5%;
    transition: all 0.5s;
}

.featured a.btn.btn-white-fill {
    position: absolute;
    bottom: 5%;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}

.intro-tabl.intro-tabel-hover:hover .overlay h4 {
    opacity: 0;
}

.intro-tabl.intro-tabel-hover:hover .overlay h3 {
    bottom: 70%;
}

.intro-tabl.intro-tabel-hover:hover a.btn.btn-white-fill.expand {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.item {
    background-image: url("../images/table-3.jpg");
    height: 286px;
    width: 100%;
    position: relative;
}

.intro-tabel-third {
    position: absolute;
    top: 0px;
    padding: 30px;
}

.intro-tabel-third h5 {
    font-size: 18px;
}

.owel-outer {
    position: absolute;
    bottom: 20%;
    padding: 31px;
}

.owel-outer h4 {
    font-size: 24px;
}

/*.intro-table{*/
/*background: url("images/table1.jpg") no-repeat 0 0;*/
/*height: 100px;*/
/*width: 100px;*/
/*}*/
/*services pages start from here*/
.service {
    background: #fff;
    padding: 100px 0;
}

.service-info {
    align-items: center;
    text-align: center;
}

.service h1 {
    font-size: 48px;
    color: #333;
}

.service h4 {
    font-size: 24px;
    color: #989da0;
    margin-top: 10px;
    display: block;
    margin-bottom: 60px;
    text-align: center;
}

.service-box {
    border: 1px solid #ccc;
    padding: 50px 10px 10px;
    height: 300px;
}

.img-icon {
    width: 60px;
    background-color: #fff;
    margin: 0 auto;
    transition: all 0.5s;
}

.service-box:hover .img-icon {
    margin-top: -80px;
}

.service-box:hover {
    border: 1px solid #00a8ff;
}

.service-box img {
    width: 50px;
    margin: 0px auto;
    display: block;
}

.service-box P.description {
    transition: all 0.5s;
    opacity: 0;
    font-size: 18px;
    line-height: 1.5;
    color: #8a8e91;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}

.service-box:hover p.description {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/*services page end here*/

/*team css start from here*/

.cover {
    background-size: cover;
    height: 280px;
    width: 100%;
    background-position: center center;
}

.team-1 {
    background-image: url("../images/team-cover1.jpg");
}

.team-2 {
    background-image: url("../images/team-cover2.jpg");
}

.team-3 {
    background-image: url("../images/team-cover3.jpg");
}

.team-text-center {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    clear: both;
    display: block;
}

.overlay-text {
    opacity: 0;
    background: rgba(0, 168, 255, 0.9);
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    clear: both;
    height: 240px;
    text-align: center;
    padding: 30px;
    transition: opacity 0.45s ease;
}

.overlay-text h3 {
    font-size: 30px;
}

.overlay-text h5 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.team-text-center:hover .overlay-text {
    opacity: 1;
}

.team {
    background: #f7f7f7;
}

.title {
    padding: 50px 0;
}

.title h2 {
    text-align: center;
    color: #333;
    font-size: 50px;
}

.title h4 {
    font-size: 35px;
    color: #333;
    text-align: center;
    color: #989da0;
}

.team-img {
    text-align: center;
}

.team-info {
    background-color: #fff;
    padding: 10px 0;
    box-sizing: border-box;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    top: -76px;
}

.team-group img {
    margin-top: -70px;
    border-radius: 50%;
}

.team-info-box {
    padding-top: 80px;
}

.team-group {
 padding:0 10px;
}

.team .sub-title {
    margin: 10px 0;
}

.team .sub-title {
    color: #989da0;
    font-size: 15px;
    text-align: center;
}

.team .sub-title h4 {
    color: #333333;
    font-size: 25px;
}

.team .sub-title h5 {
    font-size: 17px;
    font-weight: normal;
}

button.btn.btn-blue-fill {
    background-color: transparent;
    border: 2px solid #00a8ff;
    color: #00a8ff;
    PADDING: 15PX 30PX;
    FONT-SIZE: 18PX;
    /* FONT-WEIGHT: BOLD; */
    margin: 25px 0;
    font-weight: normal;
}

button.btn.btn-blue-fill:hover {
    background-color: #00a8ff;
    color: #fff;
}

/*team css end here*/

/*pricing css start from here*/

.pricing {
    background: #00a8ff url("../images/pricing1.jpg") no-repeat center center;
    width: 100%;
    padding: 0 0 100px 0
}
.pricing h2{
    color: #fff;
}

.pricing-details {
    background-color: #00a8ff;
    padding: 20px 40px;
}

.pricing-details ul{
    margin-left: 10px;
}

.pricing-details ul li {
    font-size: 22px;
    margin: 10px 0;
    color: #fff;
    font-weight: normal;
    list-style: square outside none;
}

.pricing-details h4 {
    font-size: 24px;
}

a.btn.btn-white-fill {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 18px;
    padding: 12px 20px;
    margin-top: 50px;
}

.cardio-traning {
    background-color: #bbbbbb;
    padding: 30px;
    text-align: center;
}

/*pricing css end here*/

/*blue-bg css start from here*/

.blue-bg {
    background-color: #00a8ff;
    padding: 50px 0;
}

.blue-bg i.fa.fa-twitter {
    width: 70px;
    height: 50px;
    color: #fff;
}

.text {
    text-align: center;
}

.text h4 {
    font-size: 30px;
    font-weight: normal;
}

/*blue-bg css End from here*/

/*footer css start from here*/
.footer {
    background: url("../images/footer.jpg") no-repeat center center;
    width: 100%;
    height: 862;
    padding: 100px 0;
}

.footer-wrapper {
    margin: 100px 0;
}

.footer-wrapper h3.white {
    font-size: 30px;
}

.footer-wrapper h5.light.regular.light-white {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
}

.footer-btn {
    margin-bottom: 100px;
    margin-top: 30px;
}

.footer .days h5 {
    padding-top: 60px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}

.footer-btn a.btn.btn-blu {
    margin: 40px 0;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 700;
}

.footer .social-media ul li {
    float: left;
    padding: 0 10px
}

i.fa {
    font-size: 26px;
}

.row.bottom-footer.text-center-mobile p {
    line-height: 25px;
}
.social-media.pull-right i.fa{
    transition: all 0.5s;
}
.social-media.pull-right i.fa:hover {
    color: #00a8ff;
}
.open-blink{
    background: #00a8ff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* border: 1px solid; */
    margin: 0 20px;
    display: inline-block;
}

/*footer css end here*/